recursive-include bots *
recursive-exclude bots *.pyc
prune bots/templates1.?
prune bots/media/js1.?
prune bots/botssys/logging
prune bots/botssys/infile
prune bots/botssys/outfile
prune bots/botssys/archive
prune bots/botssys/data
