{% extends "admin/base.html" %}
{% load i18n %}

<!-- 20/01/2012 MJG - add datetimepicker widget to the from/until dates
     http://trentrichardson.com/examples/timepicker/  -->
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/jquery-ui-timepicker-addon.css" />
<script src="{% admin_media_prefix %}js/jquery.min.js"></script>
<script src="{% admin_media_prefix %}js/jquery-ui.min.js"></script>
<script src="{% admin_media_prefix %}js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript">
    $(function() {
        $("#id_datefrom").datetimepicker({
            dateFormat: 'yy-mm-dd',
            timeFormat: 'hh:mm:ss',
            minDate: {{ bots_minDate }},
            maxDate: 0.1,
        });
        $("#id_dateuntil").datetimepicker({
            ampm: false,
            dateFormat: 'yy-mm-dd',
            timeFormat: 'hh:mm:ss',
            minDate: {{ bots_minDate }},
            maxDate: 0.1,
        });
    });
</script>
{% endblock %}

{% block content %}
<form action="{{ form.action }}" method="post">
    <input type="submit" name="fromselect" value="{% trans 'Show selection' %}" />
    <table>
        {{ form.as_table }}
    </table>
</form>
{% endblock %}
