<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{ request.path }}</title>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />
    {% block extrastyle %}{% endblock %}
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load adminmedia %}{% admin_media_prefix %}css/ie.css{% endblock %}" /><![endif]-->
    {% block extrahead %}{% endblock %}
    <link rel="SHORTCUT ICON" href="/media/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/media/css/bots.css" />
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
<div id="logo">
    <img src="/media/images/botslogo.png" alt="botslogo"/>
</div>
{% include "bots/menu.html" %}

<div id="container">
    {% if messages %}
        <ul class="messagelist">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
</div>
</body>
</html>
