{% extends "admin/base.html" %}


{% block content %}
<table id="about">
    <tr>
        <td>
        <h1>Bots Open Source EDI software</h1>
        <a target="_blank" href="http://bots.sourceforge.net">Bots web site and documentation</a>.<br/>
        <a target="_blank" href="http://groups.google.com/group/botsmail">Bots mailing list</a>.<br/>
        <a href="mailto:hjebbers@gmail.com?SUBJECT=Commercial%20support%20for%20Bots%20Open%20Source%20EDI%20Software">Commercial support by EbbersConsult</a>.
        </td>
    </tr>
    <tr></tr>
    {% for key, value in botsinfo %}
        <tr>
            <td>{{ key }}</td><td>{{ value }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

