{% extends "admin/base.html" %}


{% block content %}
    <br />
    <br />
    <br />
    <br />
    <table>
        <tbody>
            <tr><td style="width: 5em;"></td>
                <td>
                <h1>Bots Open Source EDI software</h1>
                <a target="_blank" href="http://bots.sourceforge.net">Bots web site and documentation</a>.<br/>
                <a target="_blank" href="http://groups.google.com/group/botsmail">Bot mailing list</a>.<br/>
                <a href="mailto:hjebbers@gmail.com?SUBJECT=Commercial%20support%20for%20Bots%20Open%20Source%20EDI%20Software">Commercial support by EbbersConsult</a>.
                </td>
                <td></td>
            </tr>
            <tr><td style="heigth: 5em;"></td>
                <td></td>
                <td></td>
            </tr>
            <tr><td></td>
                <td>Bots version</td>
                <td> {{ botsinfo.bots }}</td>
            </tr>
            <tr><td></td>
                <td>Database configuration</td>
                <td> {{ botsinfo.database }}</td>
            </tr>
            <tr><td></td>
                <td>Bots installation directory</td>
                <td> {{ botsinfo.botsinstallationdir }}</td>
            </tr>
            <tr><td></td>
                <td>Config directory</td>
                <td> {{ botsinfo.configdir }}</td>
            </tr>
            <tr><td></td>
                <td>Usersys directory - grammars, mappings etc.</td>
                <td> {{ botsinfo.usersys }}</td>
            </tr>
            <tr><td></td>
                <td>Botssys directory - edi files, tmp data, database, etc.</td>
                <td> {{ botsinfo.botssys }}</td>
            </tr>
            <tr><td></td>
                <td>Python version</td>
                <td> {{ botsinfo.python }}</td>
            </tr>
            <tr><td></td>
                <td>Django version</td>
                <td> {{ botsinfo.django }}</td>
            </tr>
            <tr><td></td>
                <td>Platform global</td>
                <td> {{ botsinfo.platform1 }}</td>
            </tr>
            <tr><td></td>
                <td>Platform detail</td>
                <td> {{ botsinfo.platform2 }}</td>
            </tr>
            <tr><td></td>
                <td>Machine</td>
                <td> {{ botsinfo.machine }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

