{% extends "admin/base.html" %}

{% block content %}
<form action="{{ form.action }}" method="post">
    <input onClick="history.back()" type="button" value="Back" />
    <input type="submit" name="2select" value="Change selection" />
    <input type="submit" name="2outgoing" value="Outgoing (same selection)" />
    <input type="submit" name="2process" value="Process Errors (same selection)" />
    <input type="submit" name="2confirm" value="Confirm (same selection)" />
    {% include "bots/paginator.html" %}

    <table id="botstable">
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <thead>
            <tr>
                <th></th>
                <th><button class="botsheader" type="submit" name="order" value="status" />State</button></th>
                <th><button class="botsheader" type="submit" name="order" value="retransmit" />Re*</button></th>
                <th><button class="botsheader" type="submit" name="order" value="idroute" />Route</button></th>
                <th><button class="botsheader" type="submit" name="order" value="ts" />Date/time</button></th>
                <th><button class="botsheader" type="submit" name="order" value="nrmessages" />#in</button></th>
                <th><button class="botsheader" type="submit" name="order" value="ineditype" />InEditype</button></th>
                <th><button class="botsheader" type="submit" name="order" value="inmessagetype" />InMessagetype</button></th>
                <th><button class="botsheader" type="submit" name="order" value="fromchannel" />FromChannel</button></th>
                <th><button class="botsheader" type="submit" name="order" value="frompartner" />FromPartner</button></th>
                <th><button class="botsheader" type="submit" name="order" value="tochannel" />ToChannel</button></th>
                <th><button class="botsheader" type="submit" name="order" value="topartner" />ToPartner</button></th>
                <th><button class="botsheader" type="submit" name="order" value="outeditype" />OutEditype</button></th>
                <th><button class="botsheader" type="submit" name="order" value="outmessagetype" />OutMessagetype</button></th>
                <th><button class="botsheader" type="submit" name="order" value="infilename" />InFile</button></th>
                <th><button class="botsheader" type="submit" name="order" value="outfilename" />OutFile</button></th>
                <th><button class="botsheader" type="submit" name="order" value="errortext" />Error</button></th>
                <th><button class="botsheader" type="submit" name="order" value="divtext" />MappingScript</button></th>
                <th><button class="botsheader" type="submit" name="order" value="frommail" />FromMail</button></th>
                <th><button class="botsheader" type="submit" name="order" value="tomail" />ToMail</button></th>
            </tr>
        </thead>
        <tbody>
        {% for row in queryset.object_list %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>
                    <div class="dropdown"><img class="action" src="/media/images/star.png" />
                        <ul>
                            <li><a href="/detail/?inidta={{row.idta}}" class="botslink" target="_blank">View detail</a></li>
                            <li><button class="botsheader" type="submit" name="retransmit" value="{{row.idta}}-{{row.reportidta}}" />Rerecieve</button></li>
                            <li><button class="botsheader" type="submit" name="retry" value="{{row.idta}}-{{row.reportidta}}" />Retry</button></li>
                            <li><button class="botsheader" type="submit" name="retrycommunication" value="{{row.idta}}-{{row.reportidta}}" />Retry Communication</button></li>
                            <li><button class="botsheader" type="submit" name="noretry" value="{{row.idta}}-{{row.reportidta}}" />No retry/rereveive</button></li>
                        </ul>
                    </div>
                </td>
                <td>{{ row.get_statust_display}}</td>
                <td>{{ row.get_retransmit_display}}</td>
                <td>{{row.idroute}}</td>
                <td class="nowrap">{{row.ts}}</td>
                <td>{{row.nrmessages}}</td>
                <td>{{row.ineditype}}</td>
                <td>{{row.inmessagetype}}</td>
                <td>{{row.fromchannel}}</td>
                <td>{{row.frompartner}}</td>
                <td>{{row.tochannel}}</td>
                <td>{{row.topartner}}</td>
                <td>{{row.outeditype}}</td>
                <td>{{row.outmessagetype}}</td>
                <td><a href="/filer/?action=this&amp;idta={{row.idta}}" target="_blank" class="botslink">{{row.infilename}}</a></td>
                <td><a href="/filer/?action=this&amp;idta={{row.outidta}}" target="_blank" class="botslink">{{row.outfilename}}</a></td>
                <td style="white-space: pre;">{{row.errortext}}</td>
                <td>{{row.divtext}}</td>
                <td>{{row.frommail}}</td>
                <td>{{row.tomail}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}

