<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bots Log File Viewer</title>
    <META Http-Equiv="Pragma" Content="no-cache" />
</head>
{% load i18n %}
<body>
    {% if error_content %} 
        {{ error_content }} 
    {% else %}
        <table id="log" border="1" cellpadding=5>
            <tr>
                <td><b>logfiles</b></td>
                <td><b>{{ log }}</b>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/logfiler/?log={{ log }}&amp;action=download">{% trans 'Download' %}</a></td>
            </tr>
            <tr>
                <td valign="top">
                    {% for file in logfiles %}
                        <a href="/logfiler/?log={{ file }}">{{ file }}</a><br>
                    {% endfor %}
                </td>
                <td valign="top" colspan="2">
                    <pre>{{ logdata }}</pre>
                </td>
            </tr>
        </table>
    {% endif %}
</body>
</html>
 