<div id="menu">
{% if user.is_authenticated %}
	<ul>
		<a href="/home">Home</a>
		<li><a href="/home">Home</a></li>
		<li><a href="/about/">About Bots</a></li>
		<li><a href="/help/">Help</a></li>
		<li><a href="/logout/">Log out</a></li>
		<li><a href="/admin/password_change/">Change password</a></li>
		<li>Current user: {{ user.username }}</li>
		<li>Last login: {{ user.last_login|date:"Y-m-d G:i" }}</li>
	</ul>
	<ul>
		<a>Last run</a>
		<li><a href="/reports/?all" >Reports</a></li>
		<li><a href="/incoming/?last" >Incoming</a></li>
		<li><a href="/outgoing/?last" >Outgoing</a></li>
		<li><a href="/processes/?last" >Process Errors</a></li>
	</ul>
	<ul>
		<a>All runs</a>
		<li><a href="/reports/?all" >Reports</a></li>
        <li><a href="/incoming/?all" >Incoming</a></li>
		<li><a href="/outgoing/?all" >Outgoing</a></li>
		<li><a href="/processes/?all" >Process Errors</a></li>
		<li><a href="/confirm/?all" >Confirmations</a></li>
	</ul>
	<ul>
		<a>Select</a>
		<li><a href="/reports/?select" >Reports</a></li>
        <li><a href="/incoming/?select" >Incoming</a></li>
		<li><a href="/outgoing/?select" >Outgoing</a></li>
		<li><a href="/processes/?select" >Process Errors</a></li>
		<li><a href="/confirm/?select" >Confirmations</a></li>
	</ul>
	{% if user.is_staff %}
	<ul>
		<a>Configuration</a>
		<li><a href="/admin/bots/routes/" >Routes</a></li>
		<li><a href="/admin/bots/channel/" >Channels</a></li>
		<li><a href="/admin/bots/translate/" >Translations</a></li>
		<li><a href="/admin/bots/edipartner/" >Partners</a></li>
		<li><a href="/admin/bots/edigroup/" >PartnerGroups</a></li>
		<li><a href="/admin/bots/confirmrule/" >Confirmrules</a></li>
		<li><a href="/admin/bots/ccode/" >User Codes as list</a></li>
		<li><a href="/admin/bots/ccodetrigger/" >User Codes by type</a></li>
	</ul>
    {% endif %}
    {% if user.is_superuser %}
	<ul>
		<a>System tasks</a>
		<li><a href="/admin/auth/user/" >Users</a></li>
		<li><a href="/admin/auth/user/" >UserGroups</a></li>
		<li><a href="/plugin/" >Read plugin</a></li>
		<li><a href="/plugout/?function=configuration" >Make configuration plugin</a></li>
		<li><a href="/plugout/?function=snapshot" >Make snapshot plugin</a></li>
		<li><a href="/plugout/?function=codelist" >Make codelist plugin</a></li>
		<li><a href="/delete/?transactions" OnClick = "return confirm('Are you sure you want to delete all transactions?\nThis action can not be undone!');" >Delete transactions</a></li>
		<li><a href="/delete/?configuration" OnClick = "return confirm('Are you sure you want to delete all configuration?\nThis action can not be undone!');">Delete configuration</a></li>
		<li><a href="/delete/?codelists" OnClick = "return confirm('Are you sure you want to delete all user maintained codes?\nThis action can not be undone!');">Delete code lists</a></li>
		<li><a href="/admin/bots/uniek/" >View/edit counters</a></li>
		<li><a href="/unlock/" >Unlock database</a></li>
		<li><a href="/runengine/?clparameter=--retrylastrun"  OnClick = "return confirm('Use only in case of database lock/crash recovery. Are you sure?');">Run forced retry of last run</a></li>
	</ul>
    {% endif %}
	<ul>
		<a>Run engine</a>
		<li><a href="/runengine/?clparameter=--new" >Run only new</a></li>
		<li><a href="/runengine/?clparameter=--retry" >Run only retry</a></li>
		<li><a href="/runengine/?clparameter=--retransmit" >Run only retransmit</a></li>
		<li><a href="/runengine" >Run all</a></li>
	</ul>
{% else %}
	<ul>
		<a href="/login/">Log in</a>
	</ul>
{% endif %}
		<noscript>Javascript is not enabled. Bots works beter with javascript!</noscript>
</div>
