{% extends "admin/base.html" %}


{% block content %}
<form action="{{ form.action }}" method="post">
    <input onClick="history.back()" type="button" value="Back" />
    <input type="submit" name="2select" value="Change selection" />
    <input type="submit" name="2incoming" value="Incoming (same selection)" />
    <input type="submit" name="2process" value="Process Errors (same selection)" />
    <input type="submit" name="2confirm" value="Confirm (same selection)" />
    {% include "bots/paginator.html" %}

    <table id="botstable">
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <thead>
            <tr>
                <th></th>
                <th><button class="botsheader" type="submit" name="order" value="retransmit" title="Resend">Re*</button></th>
                <th><button class="botsheader" type="submit" name="order" value="ts" >Received</button></th>
                <th><button class="botsheader" type="submit" name="order" value="nrmessages" >#messages</button></th>
                <th><button class="botsheader" type="submit" name="order" value="filename" >OutFile</button></th>
                <th><button class="botsheader" type="submit" name="order" value="idroute" >Route</button></th>
                <th><button class="botsheader" type="submit" name="order" value="tochannel" >ToChannel</button></th>
                <th><button class="botsheader" type="submit" name="order" value="frompartner" >FromPartner</button></th>
                <th><button class="botsheader" type="submit" name="order" value="topartner" >ToPartner</button></th>
                <th><button class="botsheader" type="submit" name="order" value="frommail" >FromMail</button></th>
                <th><button class="botsheader" type="submit" name="order" value="tomail" >ToMail</button></th>
                <th><button class="botsheader" type="submit" name="order" value="editype" >Editype</button></th>
                <th><button class="botsheader" type="submit" name="order" value="messagetype" >Messagetype</button></th>
                <th><button class="botsheader" type="submit" name="order" value="testindicator" >Test</button></th>
                <th><button class="botsheader" type="submit" name="order" value="contenttype" >Contenttype</button></th>
                <th><button class="botsheader" type="submit" name="order" value="charset" >Charset</button></th>
                <th><button class="botsheader" type="submit" name="order" value="reference" >Reference</button></th>
            </tr>
        </thead>
        <tbody>
        {% for row in queryset.object_list %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>
                    <div class="dropdown"><img class="action" src="/media/images/star.png" />
                        <ul>
                            <li><a href="/detail/?outidta={{row.idta}}" class="botslink">View</a></li>
                            <li><button class="botsheader" type="submit" name="retransmit" value="{{row.idta}}" />Resend</button></li>
                        </ul>
                    </div>
                </td>
                <td><input disabled="True" type="checkbox" {% if row.retransmit %}checked{% endif %}/></td>
                <td class="nowrap">{{row.ts}}</td>
                <td>{{row.nrmessages}}</td>
                <td><a href="/filer/?action=this&amp;idta={{row.idta}}" target="_blank" class="botslink">{{row.filename}}</a></td>
                <td>{{row.idroute}}</td>
                <td>{{row.tochannel}}</td>
                <td>{{row.frompartner}}</td>
                <td>{{row.topartner}}</td>
                <td>{{row.frommail}}</td>
                <td>{{row.tomail}}</td>
                <td>{{row.editype}}</td>
                <td>{{row.messagetype}}</td>
                <td>{{row.testindicator}}</td>
                <td>{{row.contenttype}}</td>
                <td>{{row.charset}}</td>
                <td>{{row.reference}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}

