{% extends "admin/base.html" %}


{% block content %}
<form action="{{ form.action }}" method="post">
    <input onClick="history.back()" type="button" value="Back" />
    <input type="submit" name="toselect" value="Change selection" />
    {% include "bots/paginator.html" %}

    <table id="botstable">
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <thead>
            <tr>
                <th></th>
                <th><button class="botsheader" type="submit" name="order" value="status" />State</button></th>
                <th><button class="botsheader" type="submit" name="order" value="type" />Type</button></th>
                <th><button class="botsheader" type="submit" name="order" value="lastreceived" />#in</button></th>
                <th><button class="botsheader" type="submit" name="order" value="send" />#out</button></th>
                <th><button class="botsheader" type="submit" name="order" value="ts" />Date/time</button></th>
                <th><button class="botsheader" type="submit" name="order" value="errortext" />Error</button></th>
            </tr>
        </thead>
        <tbody>
        {% for row in queryset.object_list %}
            <tr  class="{% cycle 'row1' 'row2' %}">
                <td>
                    <div class="dropdown"><img class="action" src="/media/images/star.png" />
                        <ul>
                            <li><button class="botsheader" type="submit" name="report2incoming" value="{{row.idta}}" />View incoming</button></li>
                            <li><button class="botsheader" type="submit" name="report2outgoing" value="{{row.idta}}" />View outgoing</button></li>
                            <li><button class="botsheader" type="submit" name="report2process" value="{{row.idta}}" />View process errors</button></li>
                            <li><button class="botsheader" type="submit" name="report2errors" value="{{row.idta}}" />View file errors</button></li>
                        </ul>
                    </div>
                </td>
                <td>{% if row.status %}
                        <img src="/media/images/error.png" style="width: 1em;"/>
                    {% else %}
                        <img src="/media/images/ok.png" style="width: 1em;"/>
                    {% endif %}
                </td>
                <td>{{row.type}}</td>
                <td>{{row.lastreceived}}</td>
                <td>{{row.send}}</td>
                <td class="nowrap">{{row.ts|date:"Y-m-d H:i:s"}}</td>
                <td>
                    {% if row.lasterror %}
                        {{row.lasterror}} files with errors; 
                    {% endif %}
                    {% if row.lastok %}
                        {{row.lastok}} files got stuck; 
                    {% endif %}
                    {% if row.lastopen %}
                        {{row.lastopen}} system errors; 
                    {% endif %}
                    {% if row.processerrors %}
                        {{row.processerrors}} errors in processes; 
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}
